@media screen and (max-width: 1399px) {
    .advantages{
        height: 1100px;
        text-align: center;
        .img-column{
            width: 100%;
        }
        .text-column{
            width: 100%;
            margin-bottom: 50px;
        }
    }
    .aperitif{
        .label{
            width: 100% !important;
            text-align: center;
            margin-bottom: 50px;
        }
        .descrip{
            text-align: center;
            margin: auto !important;
        }
        
    }
    .first-screen{
        .front-box{
            padding-right: 50px;
            h1{
                font-size: 48px;
            }
        }
    }
}
