.advantages{
    height: 717px;
    .text-column{
        width: 385px;
        margin: 78px 60px 0 0px;
        P{
            font-size: 18px;
            line-height: 32px;
        }
    }
    .img-column{
        width: 65%;
    }
}