
.container-lg{
    max-width: 1900px;

}

h1,h2,h3,h4,h5,h6{
    font-weight: 400;
    
}

.h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: 400;
    
}

h1,
.h1{
    font-size: 73px;
}
h2,
.h2{
    font-size: 64px;
}
h3,
.h3{
    font-size: 53px;
}
h4,
.h4{
    font-size: 42px;
}
h5,
.h5{
    font-size: 36px;
}
h6,
.h6{
    font-size: 30px;
}