.reviews{
    height: 227px;
    margin-top: 55px;
    .col-md-4{
        padding-left: 50px;
        .review-box{
            width: 330px;
            text-align: center;
            font-size: 18px;
            line-height: 32px;
            p{
                margin-bottom: 30px;
            }
        }
    }
    hr{
        margin-top: 30px;
    }
}