<section class="aperitif">
 <div class="container">
    <div class="aper-box">
        <img class="img-fluid" src="assets/img/aperitivo.png" alt="">
        <div class="row">
            <div class="label">
                <h3>An intro to apéritifs</h3>
            </div>
            <div class="descrip">
                <p>Apéritifs are a category of spirits with complex flavors derived from fruits, herbs, and botanicals.
                 Their lighter alcohol content (less than whiskey, more than wine) makes them perfect to sip all evening.</p>
            </div>
        </div>
    </div>
    <hr>
 </div>
</section>