<section class="black">
  <div class="container">
    <div class="row">
        <div class="buyer">
            <div class="quote">
                <p>“Haus has found the solution I didn’t really know I was looking for!”</p>
            </div>
                <span>— Susan</span>
                <br>
                <div class="em-c"><p>Verified Buyer</p></div> 
                             
        </div>
        <div class="buyer">
            <div class="quote">
                <p>“I love the flavor of this apéritif — it’s light and lively, and it’s refreshing with seltzer or tonic.”</p>
            </div>
                <span>— Fiona</span>
                <br>
                <div class="em-c"><p>Verified Buyer</p></div>           
        </div>
        <div class="buyer-1">
            <div class="quote">
                <p>“It’s delicious, and unique. I love everything from the packaging, to the flavors.”</p>
            </div>
                <span>— Esteban</span>
                <br>
                <div class="em-c"><p>Verified Buyer</p></div>         
        </div>
    </div>
  </div>
</section>