<section class="difference">
   <div class="container">
      <div class="row">
        <div class="img-diff">
            <img src="assets/img/diff.png" alt="">
        </div>
        <div class="text-diff">
            <h3>We do things differently than most producers</h3>
            <p>Our flavors are derived from real fruits, herbs, and botanicals, not ingredients from a lab. We leave out the artificial
                 ingredients and excess sugar, and tell you what’s inside. It’s a better way to drink.</p>
            <a>LEARN MORE</a>
        </div>
      </div>
   </div>
</section>