<footer>
    <div class="container">
        <div class="row">
            <div class="contact">
                <h4>Stay posted</h4>
                <p>Let's be friends. Subscribe to our newsletter to receive updates on new launches, recipes, playlists, and more.</p>
            </div>

			<div class="explore">
				<span>EXPLORE</span>
				<p>Home</p>
				<p>Shop</p>
				<p>Membership</p>
				<p>Our story</p>
				<p>FAQ</p>
				<p>Refer a Friend</p>
				<p>Corporate Gifting</p>
			</div>

			<div class="follow">
				<span>FOLLOW</span>
				<p>Instagram</p>
				<p>Spotify</p>
				<p>Twitter</p>
				<p>Facebook</p>
			</div>

			<div class="drop">
				<span>DROP US A LINE</span>
				<p>hello@drink.haus</p>
				<p>press@drink.haus</p>
				<p>partnerships@drink.haus</p>
				<p>jobs@drink.haus</p>
				<p>wholesale@drink.haus</p>
			</div>
        </div>
		<div class="down-line">
			<p>© Haus 2021</p>
			<p>Contact Us</p>
			<p>Return Policy</p>
			<p>Privacy Policy</p>
			<p>Terms & Conditions</p>
		</div>
    </div>
</footer>
<script src="assets/js/jquery-3.7.0.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
AOS.init();

</script>
<script async src="assets/js/custom.js"></script>
</body>

</html>
