<section class="ingredients">
    <div class="container">
        <div class="ing-title">
            <h2>Made with natural ingredients, nothing fake</h2>
            <p>SHOP ALL FLAVORS</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="img-box">
                    <img src="assets/img/sampler-kit.png" alt="">
                </div>
                    <div class="info-box">
                        <h6>The Sampler Kit</h6>
                        <p>Try a variety of Haus flavors with our customizable four-bottle kit. Each bottle serves 2-3 drinks.</p>
                        <button>SHOP NOW</button>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="img-box">
                        <div class="best-seller">
                            <p>BEST SELLER</p>
                        </div>
                        <img src="assets/img/grapefruit.png" alt="">
                </div>
                        <div class="info-box">
                            <h6>Grapefruit Jalapeño</h6>
                            <p>Light and refreshing, this aperitif is a bright blend of citrus with a subtle kick of fresh jalapeño.</p>
                            <button>SHOP NOW</button>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="img-box">
                            <div class="best-seller-2">
                                <p>BEST SELLER</p>
                            </div>
                            <img src="assets/img/citrus-flower.png" alt="">
                </div>
                            <div class="info-box">
                                <h6>Citrus Flower</h6>
                                <p>A fresh Californian take on the apéritif. Made with crisp lemon and subtle elderflower.</p>
                                <button>SHOP NOW</button>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
</section>
