<section class="reviews">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="review-box">
                    <div class="review">
                        <p>
                            "What makes Haus so special is its incredible flavors."
                        </p>
                    </div>
                    <div class="logo">
                        <img src="assets/img/food-wine.png" alt="">
                    </div>
                </div>               
            </div>
            <div class="col-md-4">
                <div class="review-box">
                    <div class="review">
                        <p>
                            “For the wine or cocktail lover who’s tried it all and wants something new and refreshing.”
                        </p>
                    </div>
                    <div class="logo">
                        <img src="assets/img/new-york-times.png" alt="">
                    </div>
                </div>               
            </div>
            <div class="col-md-4">
                <div class="review-box">
                    <div class="review">
                        <p>
                            “Cleaner, responsibly sourced, and lower in alcohol.”
                        </p>
                    </div>
                    <div class="logo">
                        <img src="assets/img/bon-appetit.png" alt="">
                    </div>
                </div>               
            </div>
        </div>
        <hr>
    </div>
</section>