<section class="spotify">
    <div class="container">
        <div class="mood">
            <h3>Set the mood</h3>
            <p>Curated playlists from Woody + Helena, plus some of our friends and favorite brands.</p>
            <button>SPOTIFY</button>
        </div>

        <div class="follow">
            <p>Follow us, ahare us, drink Ha(us)</p>
            <div class="social">
                <a href="">INSTAGRAM</a>
                <a href="">TWITTER</a>
                <a href="">FACEBOOK</a>
            </div>

        </div>
    </div>
</section>
